body{
    background-color: #003242;
    height:100vh;
    display:flex;
    justify-content: center;
}

h1{
    font-size: 40px;
    text-align: center;
    color: #00c689;
    font-family: Merriweather Sans,sans-serif;
}

h2{
    font-size: 35px;
    text-align: center;
    color: #00c689;
    font-family: Merriweather Sans,sans-serif;
}
main{
    width: 940px;
    margin: 0 auto;
    position: absolute;
    left: 17%;
    top: 30%;
}